### Python template
# Logs
logs
*.log
*.log~
log.txt
nocommit.txt

#python executing
*.pyc 


# global sensitive config data
config/base.conf
config/dbase.conf 
config/main.conf
_host_configs/** 

# Uploaded files
/static/filestorage/**
/static/site_templates/**
/templates/tmp/**

*.jpg
*.jpeg
*.png

_material/node_modules/

/start.sh
/stop.sh
