### Python template
# Logs
logs
*.log
*.log~
log.txt
nocommit.txt

#python executing
*.pyc 


# global sensitive config data
/torWiki/config/base.conf
/torWiki/config/dbase.conf 
/torWiki/config/main.conf
/torWiki/_host_configs/** 

# Uploaded files

/log
/mediaWiki/**
/product
/read.me

/angWiki/node_modules/**

