### Python template
# Logs
logs
*.log
*.log~
log.txt
nocommit.txt

#python executing
*.pyc 


# global sensitive config data
/torWikiPy/config/base.conf
/torWikiPy/config/dbase.conf 
/torWikiPy/config/main.conf
/torWikiPy/_host_configs/** 

# Uploaded files

/log
/torWikiMedia/**
/product
/read.me

/torWikiAng/node_modules/**

