<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Войти в систему</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <button mat-raised-button type="submit" class="btn btn-danger ">Войти</button>
                          &nbsp;&nbsp;&nbsp;
                          <button mat-raised-button class="btn btn-warning">Регистрация</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


