	<li ng-show = "{isShow}" class="nav-item dropdown">
	    <a class="nav-link" href="#Profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        {{authorProfile.author_name}}
	        <p>
	            <span class="d-lg-none d-md-block">Account</span>
	        </p>
	    </a>
	    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/author-profile">Edit {{authorProfile.author_name}} Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
	    </div>
	</li>
	