 <div class="card card-chart">
   <a href="/group/{{groupThumbData.group_id}}">
   
      <div class="card-header card-header-{{groupThumbData.color}}"> <!-- как то надо поменять класс элементу! {{groupThumbData.hColor}} -->
          вот тут надо вставить картинку!!!!
      </div>
      <div class="card-body">
          <h4 class="card-title">{{groupThumbData.group_title}}</h4>
          <p class="card-description">
              {{groupThumbData.group_annotation}} </p>
      </div>
      <div class="card-footer">
          <div class="stats">
              <i class="material-icons">list_alt</i> {{groupThumbData.article_count}}  описаний
          </div>
      </div>
   </a>
  </div>
