              <div class="card card-chart">
			   <a href="/author/{{authorThumbData.dt_header_id}}">
              
                  <div class="card-header card-header-{{authorThumbData.color}}"> 
             	      <div class="card-profile"> <!--  -->
		                  <div class="card-photo"> <!--  -->
		                          <img class="img" src="/assets/marc.jpg" />
		                  </div>
	                  </div>

                  </div>
                  <div class="card-body">
                      <h4 class="card-title">{{authorThumbData.author_name}} {{authorThumbData.author_surname}}</h4>
                      <p class="card-description">
                          Что - то про себя любимого рассказать нужно!!!!! (правда, пока  - негде.)
                          </p>
                          
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">list_alt</i> Статей: {{authorThumbData.article_count}}; Участие в группах: {{authorThumbData.group_count}} 
                      </div>
                  </div>
                  </a>
              </div>
