<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/article/о_проекте">
                        О проекте
                    </a>
                </li>
                <li>
                    <a href="/article/авторам">
                        Авторам
                    </a>
                </li>
                <li>
                    <a href="/article/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="/" target="_blank">Dozvillya</a> Українська Енциклопедія
        </div>
    </div>
</footer>
