 <div class="card card-chart">
   <a href="/article/{{articleThumbData.article_title}}">
   
      <div class="card-header card-header-{{articleThumbData.color}}"> 
          вот тут надо вставить картинку!!!!
      </div>
      <div class="card-body">
          <h4 class="card-title">{{articleThumbData.article_title}}</h4>
          <p class="card-description">
              {{articleThumbData.article_annotation}} </p>
      </div>
      <div class="card-footer">
          <div class="stats">
              <i class="material-icons">list_alt</i> {{articleThumbData.group_count}}  описаний
          </div>
      </div>
   </a>
  </div>
