<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Ошибка 404 - Статья не найдена. </h4>
                  </div>
                  <div class="card-body">
                  <h1>Нам печально сообщить Вам,<br />
					что страница, которую Вы ищете,</h1>
					
					<h1><strong>не существует,</strong></h1>
					
					<h1>Вы можете создать ее.</h1>
					
					<h3>Для этого Вам достаточно войти на сайт, и начать редактирование.</h3>

                  
                  </div>
              </div>
          </div>
           
      </div>
  </div>
</div>
