<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{currentAuthor.author_name}} {{currentAuthor.author_surname}}</h4>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-md-12">
                                <label>Несколько слов от Автора: </label>
                                  <div class="form-group">
                                      <div class="form-group">
										<p class="card-description">
				                          {{currentAuthor.author_yourself_story}}
										</p>
				                      <!-- <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
				                      Написать Автору, или, подписаться на новое, что Автор может написать!
				                      Социализация - прикольная штука!!!! - ПОТОМ! -->                                          
                                      </div>
                                  </div> 
                              </div>
                          </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-photo-profile"> <!--  -->
                          <img class="img" src="/assets/marc.jpg" />
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">{{currentAuthor.author_name }} {{currentAuthor.author_surname }}</h4>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Список статей, которые написал Благородный Дон. -->

         <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title mt-0"> Статьи Автора </h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                  </div>
              </div>
          </div>
      </div>


      <div class="row">
      <!-- Начало раздела тумбочек -->
      
          <div class="col-md-4" *ngFor="let article of articlesList">
			 
			<app-article-thumb [articleThumbData]= "article">
			<!-- вот тут возникает одна Статейная тумбочка!!!!! -->
			</app-article-thumb>
			 
           </div>

      <!--  конец списка Статей!!! -->
     </div>
     
         <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-success">
                      <h4 class="card-title mt-0"> Группы, интересные Автору </h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                  </div>
              </div>
          </div>
      </div>
      
     <div class="row">
      <!-- Начало раздела тумбочек -->

          <div class="col-md-4" *ngFor="let group of groupsList">
			 
			 <app-group-thumb [groupThumbData]= "group">
				 <!-- вот тут возникает одна групповая тумбочка!!!!! -->
			 </app-group-thumb>
			 
           </div>

      <!--  конец списка Группей!!! -->
     </div>
       
     